@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
}

:root {
    --main--fontFamily--robotoRegular: Roboto;
    --main--fontFamily--robotoMedium: RobotoMedium;
    --main--fontFamily--robotoThin: RobotoThin;
    --main--fontFamily--robotoBold: RobotoBold;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none;
    /* IE  And Edge*/
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

body {
    background-color: #E9EAED;
    margin: 0;
    font-family: var(--main--fontFamily--robotoRegular);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mainPage__Container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@import url("header.css");
@import url("footer.css");
@import url("helpCenter.css");
@import url("conformation.css");